.Movie {
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
  text-overflow: ellipsis;
  padding: 0 10px;
  box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
    0 5px 12px rgba(133, 133, 133, 0.22);
}

.Movie__Columns {
  width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  text-align: center;
}
.Movie__Columns img {
  position: relative;
  top: -20px;
  box-shadow: -10px 10px 38px rgba(83, 83, 83, 0.3),
    10px 10px 12px rgba(83, 83, 83, 0.22);
}
.Movie__Columns:last-child {
  padding: 0 0 20px 0;
  width: 100%;
}
.Movie__Columns h1 {
  margin-top: 10px;
  font-size: 20px;
}
.Movie__Genres span {
  color: #bcbfcf;
  font-weight: 400;
}
.Movie__Synopsis {
  margin-top: 15px;
  color: #b5b6be;
  font-weight: 500;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
